<html>
  <head>

  </head>
  <body>
    {% if user %}
      <p>Hello {{ user }}!</p>
    {% else %}
      <p>Hello unknown user!</p>
    {% endif %}
    <div>
      <a href="{{ url_for('index') }}">index</a> |
      <a href="{{ url_for('post') }}">post</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <hr>
    {% block content %}
    {% endblock %}
  </body>
</html>
